### Main Stuff
export/
.vscode/
.DS_Store

### GameJolt-Specific
GJKeys.hx
GameJolt.hx

# Local history which shouldn't be shared.
desktop.ini
.history/
.ionide

### VS. Code-Related
# ! means a file should be added regardless of it getting ignored prior.
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.code-workspace
