### Main Stuff
export/
.vscode/
.DS_Store

### VS. Code-Related
# ! means a file should be added regardless of it getting ignored prior.
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.code-workspace
